<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>HBNITV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Jared Gross" />
        <meta
            name="description"
            content="HBNITV is a website to find the latest news, classes, and more."
        />
        <meta
            name="keywords"
            content="hutterite, itv, hbni, classes, news, calendar, contact"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        {% if not is_logged_in %}
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
        {% endif %}
    </head>
    <header class="primary"></header>
    <body onload="document.body.classList.add('loaded')">
        <main class="responsive">
            <article
                class="absolute center middle round large-width large-padding"
                style="overflow: hidden"
            >
                {% if is_logged_in %} {% if "admin" in role %}
                <h5>Register</h5>
                <form class="grid small-space" action="/api/register" method="POST">
                    <div class="s12 m6 l6 small-round field label border">
                        <input
                            type="text"
                            id="first_name"
                            name="first_name"
                            autocapitalize="words"
                            required
                        />
                        <label for="first_name">First Name</label>
                    </div>
                    <div class="s12 m6 l6 small-round field label border">
                        <input
                            type="text"
                            id="last_name"
                            name="last_name"
                            autocapitalize="words"
                            required
                        />
                        <label for="last_name">Last Name</label>
                    </div>
                    <div
                        class="s12 m12 l12 small-round field label suffix border"
                    >
                        <select name="colony" id="colony" required>
                            {% for name, code in colony_names.items() %}
                            <option value="{{ code }}">{{ name }}</option>
                            {% endfor %}
                        </select>
                        <label for="colony">Colony Name</label>
                        <i>arrow_drop_down</i>
                    </div>
                    <div class="s12 m12 l12 small-round field label border">
                        <input
                            type="email"
                            id="email"
                            name="email"
                            value="@hbitv.net"
                            disabled
                        />
                        <label for="email">Email</label>
                        <span class="helper no-line">This will be the email address that will be generated for you.</span>
                    </div>
                    <nav class="s12 top-margin right-align">
                        <button type="submit">
                            <i>check_circle</i>
                            <span>Submit</span>
                        </button>
                    </nav>
                </form>
                {% else %}
                <h5>Unauthorized</h5>
                <p>You are not authorized to register.</p>
                {% endif %} {% else %}
                <h5>Login</h5>
                <p>To register, please login first.</p>
                {% endif %}
            </article>
        </main>
    </body>
    {% if is_logged_in %}
    <script>
        window.USER = {
            username: "{{ username }}",
            email: "{{ email }}",
            role: "{{ role }}",
            profile_picture: "{{ profile_picture }}",
            email_verified: "{{ email_verified }}",
            hd: "{{ hd }}",
            given_name: "{{ given_name }}",
            family_name: "{{ family_name }}",
            is_logged_in: "{{ is_logged_in }}",
            user_id: "{{ user_id }}",
        };
    </script>
    {% endif %}
</html>
