.venv
.vscode
.git
node_modules
templates
*.pyc
*.pyo
__pycache__
*.pyd
*.so
*.dll
*.egg-info
node_modules/
public/
.dockerignore
Dockerfile
docker-compose.yml
.git
.gitignore
npm-debug.log
yarn.lock
*.md
