<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>HBNI ITV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Jared Gross" />
        <meta
            name="description"
            content="HBNI ITV is a website to find the latest news, classes, and more."
        />
        <meta
            name="keywords"
            content="hutterite, itv, hbni, classes, news, calendar, contact"
        />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        {% if not is_logged_in %}
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
        {% endif %}
    </head>
    <header>
    </header>
    <body onload="document.body.classList.add('loaded')" class="light">
        <main class="responsive">
            <div class="padding grid" id="assignment">
                <div class="s12 field label border small-round">
                    <input type="text" id="assignment-title" name="assignment-title" autocapitalize="words" required />
                    <label>Title</label>
                </div>
                <div class="s12" id="question-elements"></div>
            </div>
        </main>
    </body>
    <footer class="fixed surface-container">
        <nav>
            <div class="max"></div>
            <button class="chip" id="sync-status-button">
                <progress class="circle small hidden" id="sync-progress"></progress>
                <i id="sync-status-icon">check_circle</i>
                <span id="sync-status-text">Synced</span>
                <div class="tooltip top">
                    <span id="sync-last-updated"></span>
                </div>
            </button>
            <button class="square round extra primary" id="add-question-button">
                <i>add</i>
            </button>
        </nav>
    </footer>
    {% if is_logged_in %}
    <script>
        window.USER = {
            username: "{{ username }}",
            email: "{{ email }}",
            role: "{{ role }}",
            profile_picture: "{{ profile_picture }}",
            email_verified: "{{ email_verified }}",
            hd: "{{ hd }}",
            given_name: "{{ given_name }}",
            family_name: "{{ family_name }}",
            is_logged_in: "{{ is_logged_in }}",
        };
    </script>
    {% endif %}
</html>
