.hidden{
    display: none !important;
}

#latex-preview .text {
    display: inline;
}

#latex-preview .math.inline {
    display: inline;
    vertical-align: text-bottom;
}

#latex-preview .math.inline {
    font-size: 0.95rem;
}

#internet-status-badge {
    transition: background-color 0.3s ease, color 0.3s ease;
}
.page-break-inside{
    page-break-inside: avoid !important;
}

.field.min > textarea {
    max-block-size: 100rem !important;
}