body:not(.loaded) {
    display: none;
}

.highlight {
    background-color: var(--primary);
    color: var(--on-primary);
    font-weight: bold;
}

.hidden {
    display: none !important;
}

.pointer {
    cursor: pointer;
}

#recordings{
    overflow: hidden !important;
}

.handle {
    cursor: move;
}

.clickable {
    transition: box-shadow 0.3s ease !important;
    cursor: pointer !important;
    box-shadow: var(--elevate1) !important;
}

.clickable:hover {
    box-shadow: var(--elevate3) !important;
}

.question-item>nav>button.toggle-question-button {
    background-color: var(--surface-variant);
    color: var(--on-surface-variant);
}

.question-item.open>nav>button.toggle-question-button {
    background-color: var(--primary);
    color: var(--on-primary);
}

.question-item>nav>button.toggle-question-button>nav>i {
    transition: transform 0.3s ease;
    transform: rotate(0deg);
}

.question-item.open>nav>button.toggle-question-button>nav>i {
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}

.question-content-wrapper {
    overflow: hidden;
    max-height: 0;
    opacity: 0;
    transition: max-height 0.3s ease, opacity 0.3s ease;
}

.question-item.open .question-content-wrapper {
    max-height: 1000px;
    /* set high enough */
    opacity: 1;
}

.question-slot[data-swapy-highlighted] {
    background: var(--surface-container-highest);
}

.question-item[data-swapy-dragging] {
    opacity: 0.6;
}

#latex-preview .text {
    display: inline;
}

#latex-preview .math.inline {
    display: inline;
    vertical-align: text-bottom;
}

#latex-preview .math.inline {
    font-size: 0.95rem;
}

#internet-status-badge {
    transition: background-color 0.3s ease, color 0.3s ease;
}

.page-break-inside {
    page-break-inside: avoid !important;
}

.field.min>textarea {
    max-block-size: 100rem !important;
}

.fade-in {
    opacity: 0;
    transition: opacity 0.4s ease-in;
}

.fade-in.show {
    opacity: 1;
}

.aspect-ratio-16-9 {
    position: relative;
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    border-radius: 1rem;
}

.aspect-ratio-16-9 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

::view-transition-new(root) {
    animation: 0.4s ease-out both fade-in;
}