<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>HBNITV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Jared Gross" />
        <meta
            name="description"
            content="HBNITV is a website to find the latest news, classes, and more." />
        <meta
            name="keywords"
            content="hutterite, itv, hbni, classes, news, calendar, contact" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        {% if not is_logged_in %}
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer></script>
        {% endif %}
    </head>
    <header class="primary">
    </header>
    <body onload="document.body.classList.add('loaded')">
        <main class="responsive">
            <article class="border round no-padding">
                <div class="center-align fill">
                    <img class="responsive center-align round padding" src="/static/images/hbnilogo.png"
                        alt="HBNI Logo" style="max-width: 300px;" />
                </div>
                <div class="padding">
                    <p class="center-align">
                        Welcome to the HBNITV website. Here you can find all the latest <a class="link underline"
                            href="/news">news</a>, <a class="link underline" href="/recordings">recordings</a>, and more.
                    </p>
                    <p class="center-align">
                        Developed with <button id="love-button"
                            class="chip circle ripple no-border transparent no-margin"><i
                                style="color: var(--error)">favorite</i><div class="tooltip top">love</div></button> by
                        <a class="link underline" href="https://thecodingjsoftware.github.io">TheCodingJ's</a>.
                    </p>
                </div>
            </article>
        </main>
    </body>
    {% if is_logged_in %}
    <script>
        window.USER = {
            username: "{{ username }}",
            email: "{{ email }}",
            role: "{{ role }}",
            profile_picture: "{{ profile_picture }}",
            email_verified: "{{ email_verified }}",
            hd: "{{ hd }}",
            given_name: "{{ given_name }}",
            family_name: "{{ family_name }}",
            is_logged_in: "{{ is_logged_in }}",
            user_id: "{{ user_id }}",
        };
    </script>
    {% endif %}
</html>
