<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>HBNITV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Jared Gross" />
        <meta
            name="description"
            content="HBNITV is a website to find the latest news, classes, and more." />
        <meta
            name="keywords"
            content="hutterite, itv, hbni, classes, news, calendar, contact" />
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        {% if not is_logged_in %}
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer></script>
        {% endif %}
    </head>
    <header class="primary">
    </header>
    <body onload="document.body.classList.add('loaded')">
        <main class="responsive">
            <div>
                {% if role == "admin" or role == "super_admin" %}
                <div class="tabs">
                    <a data-ui="#create-news-page" class="active">
                        <i>add_notes</i>
                        <span>Create a New Article</span>
                    </a>
                    <a data-ui="#news-page">
                        <i>news</i>
                        <span>News</span>
                    </a>
                </div>
                {% endif %}
                {% if role == "admin" or role == "super_admin" %}
                <div class="page padding active" id="create-news-page">
                    <div class="field label border small-round">
                        <input type="text" id="news-title" name="news-title" autocapitalize="words" required />
                        <label for="news-title">Title</label>
                    </div>
                    <div id="editor"></div>
                    <nav class="right-align">
                        <button class="border" id="clear-editor">
                            <i>delete</i>
                            <span>Clear</span>
                        </button>
                        <button id="post-button">
                            <i>send</i>
                            <span>Post</span>
                        </button>
                    </nav>
                </div>
                {% endif %}
                <div class="page padding {{ 'active'  if role != 'admin' and role != 'super_admin' else ''}}" id="news-page">
                    <article class="round border fade-in" id="latest-news"></article>
                    <article class="round border">
                        <div class="grid" id="list-news"></div>
                        <div id="pagination-controls" class="row bottom-align">
                            <button id="prev-page-btn" class="chip border no-margin round" disabled>
                                <i>chevron_left</i>
                            </button>
                            <nav id="page-numbers" class="max row left-align tiny-space scroll"></nav>
                            <button id="next-page-btn" class="chip border no-margin round" disabled>
                                <i>chevron_right</i>
                            </button>
                        </div>
                    </article>
                </div>
            </div>
        </main>
    </body>
    {% if is_logged_in %}
    <script>
        window.USER = {
            username: "{{ username }}",
            email: "{{ email }}",
            role: "{{ role }}",
            profile_picture: "{{ profile_picture }}",
            email_verified: "{{ email_verified }}",
            hd: "{{ hd }}",
            given_name: "{{ given_name }}",
            family_name: "{{ family_name }}",
            is_logged_in: "{{ is_logged_in }}",
            user_id: "{{ user_id }}",
        };
    </script>
    {% endif %}
</html>
