<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>HBNI ITV</title>
    </head>
    <body class="light">
        <main class="responsive">
            <article class="absolute center middle round large-width large-padding" style="overflow: hidden;">
                <div class="grid padding">
                    <img src="/static/images/hbnilogo.png" alt="HBNI Logo" class="s12 center-align responsive" />
                    <h3 class="s12 center-align">Welcome Back</h3>
                    <div class="field small-round s12 label border">
                        <input type="text" id="username" />
                        <label>Email</label>
                    </div>
                    <div class="field small-round s12 label border">
                        <input type="password" id="password" />
                        <label>Password</label>
                    </div>
                    <button class="s12">
                        <i>login</i>
                        <span>Sign in</span>
                    </button>
                </div>
            </article>
        </main>
    </body>
</html>
