<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en">
    <head>
        <title>HBNI ITV</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <meta name="author" content="Jared Gross" />
        <meta name="description" content="HBNI ITV is a website to find the latest news, classes, and more."/>
        <meta name="keywords" content="hutterite, itv, hbni, classes, news, calendar, contact"/>
        <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/static/icons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/static/icons/favicon-16x16.png">
        <link rel="icon" type="image/png" href="/static/icons/favicon.png" />
        <link rel="manifest" href="/manifest.json" />
        {% if not is_logged_in %}
        <script
            src="https://accounts.google.com/gsi/client"
            async
            defer
        ></script>
        {% endif %}
    </head>
    <header>
    </header>
    <body onload="document.body.classList.add('loaded')">
        <main class="responsive">
            <div id="classes">
                {% if is_logged_in %}
                <div class="grid" id="classes-page">
                    {% for class_id, class_data in classes.items() %}
                    <article class="no-padding s12 m6 l4 round clickable" onclick="window.location.href='/classes/watch?id={{ class_id }}'">
                        <img class="responsive small top-round" src="/api/thumbnail?link={{ class_data.thumbnailLink }}" alt="Thumbnail" />
                        <div class="padding">
                            <p class="bold">{{ class_data.name }}</p>
                            <span style="color: var(--on-surface-variant);" id="created-at">{{class_data.createdTimeReadable}} <span style="opacity: 0.7;">({{class_data.createdTimeRelative}})</span>
                            </span>
                            <nav class="row top-padding">
                                <img id="dialog-profile-picture" src="{{class_data.owners[0].photoLink}}" class="circle" alt="Profile Picture" />
                                <div class="max">
                                    <h6 class="small bold">{{class_data.owners[0].displayName}}</h6>
                                    <a href="mailto:{{class_data.owners[0].emailAddress}}" class="link" id="dialog-email">{{class_data.owners[0].emailAddress}}</a>
                                </div>
                            </nav>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                {% else %}
                <article
                    class="absolute center round large-width large-padding"
                    style="overflow: hidden"
                >
                    <h5>Login</h5>
                    <div id="login-page"></div>
                </article>
                {% endif %}
            </div>
        </main>
    </body>
    {% if is_logged_in %}
    <script>
        window.USER = {
            username: "{{ username }}",
            email: "{{ email }}",
            role: "{{ role }}",
            profile_picture: "{{ profile_picture }}",
            email_verified: "{{ email_verified }}",
            hd: "{{ hd }}",
            given_name: "{{ given_name }}",
            family_name: "{{ family_name }}",
            is_logged_in: "{{ is_logged_in }}",
            user_id: "{{ user_id }}",
        };
    </script>
    {% endif %}
</html>
